PROMPTPAY_ID=0927670303
NEXT_PUBLIC_SITE_URL=https://ใส่ชื่อเว็บจาก-vercel.app
NEXT_PUBLIC_SUPABASE_URL=https://wmkbeitnxziduhtnhdfq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=ใส่-anon-public-key-จาก-Supabase
